<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="All Rules Enabled with default action" Description="All Rules are enabled with default action. Rules with IsEnabledByDefault = false are force enabled with default action." ToolsVersion="15.0">
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1014" Action="None" /> <!-- MarkAssembliesWithClsCompliant: We don't write libraries, so this isn't necessary. -->
    <Rule Id="CA1062" Action="None" /> <!-- ValidateArgumentsOfPublicMethods: Not necessary anymore with C# 8.0 -->
    <Rule Id="CA1303" Action="None" /> <!-- DoNotPassLiteralsAsLocalizedParameters: As we don't write libraries, we only localize output which will be shown to the end user. -->
    <Rule Id="CA1506" Action="None" /> <!-- AvoidExcessiveClassCoupling: This will be checked by sonar. -->
    <Rule Id="CA1707" Action="None" /> <!-- IdentifiersShouldNotContainUnderscores: We do want to have underscores. -->
    <Rule Id="CA1716" Action="None" /> <!-- Identifiers should not match keywords: this code is not shared and not being used in other languages -->
    <Rule Id="CA1848" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="CS1591" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeQuality.Analyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">
    <Rule Id="CA1014" Action="None" />  <!-- MarkAssembliesWithClsCompliant: We don't write libraries, so this isn't necessary. -->
    <Rule Id="CA1506" Action="None" /> <!-- AvoidExcessiveClassCoupling: This will be checked by sonar. -->
    <Rule Id="CA1707" Action="None" /> <!-- IdentifiersShouldNotContainUnderscores: We do want to have underscores. -->
    <Rule Id="CA1716" Action="None" /> <!-- Identifiers should not match keywords: this code is not shared and not being used in other languages -->
    <Rule Id="CA1727" Action="None" />
    <Rule Id="CA2007" Action="None" /> <!-- DoNotDirectlyAwaitATaskAnalyzer: This is only relevant for full framework ASP.NET MVC applications. -->
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA0001" Action="None" /> <!-- XmlCommentAnalysisDisabled: We don't enforce comments. -->
    <Rule Id="SA1101" Action="None" /> <!-- PrefixLocalCallsWithThis: We don't follow this readability rule. -->
    <Rule Id="SA1204" Action="None" /> <!-- StaticElementsMustAppearBeforeInstanceElements: We don't follow this ordering rule. -->
    <Rule Id="SA1309" Action="None" /> <!-- FieldNamesMustNotBeginWithUnderscore: We don't follow this readability rule. -->
    <Rule Id="SA1413" Action="None" /> <!-- UseTrailingCommasInMultiLineInitializers: We don't follow this maintainability rule. -->
    <Rule Id="SA1600" Action="None" /> <!-- ElementsMustBeDocumented: We don't enforce comments. -->
    <Rule Id="SA1602" Action="None" /> <!-- SA1602EnumerationItemsMustBeDocumented: We don't enforce comments. -->
    <Rule Id="SA1611" Action="None" /> <!-- ElementParametersMustBeDocumented: We don't enforce comments. -->
    <Rule Id="SA1623" Action="None" /> <!-- SA1623PropertySummaryDocumentationMustMatchAccessors: We don't enforce comments. -->
    <Rule Id="SA1633" Action="None" /> <!-- FileMustHaveHeader: We don't use file headers. -->
    <Rule Id="SA1512" Action="None" /> <!-- SingleLineCommentsMustNotBeFollowedByBlankLine: We don't enforce this comment style. -->
    <Rule Id="SA1601" Action="None" /> <!-- Partial elements should be documented. -->
  </Rules>
</RuleSet>